<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- styles -->
    <link rel="stylesheet" href="../../assets/styles/global.css" />
    <link rel="stylesheet" href="../../assets/styles/sidebar/sidebar.css" />
    <link rel="stylesheet" href="../../assets/styles/navbar/navbar.css" />
    <link rel="stylesheet" href="../../assets/styles/jobs/jobs.css" />

    <title>CareerSphere | Job Listing</title>
  </head>
  <body>
    <div id="jobs-container">
      <div id="sidebar" class="sidebar collapsed"></div>
      <main id="main" class="profile">
        <nav id="navbar">Nav</nav>
        <div class="main-container">
          <h1 class="content-header">Job Listings</h1>
          <div class="job-search">
            <form id="job-search-form" class="job-search-form" action="">
              <button class="filter-button" id="filter-button" type="button">
                <img src="/CareerSphere/assets/icons/filter.png" alt="filter" />
              </button>
              <input
                type="text"
                id="job-search-input"
                placeholder="Search for jobs..."
              />
              <button
                type="submit"
                id="job-search-button"
                class="job-search-button"
              >
                <img src="/CareerSphere/assets/icons/search.png" alt="search" />
              </button>
            </form>
          </div>

          <table class="job-listing-table">
            <tr>
              <div class="job-listings-row">
                <td class="company-img">
                  <img
                    src="/CareerSphere/assets/icons/company.png"
                    alt="company"
                  />
                </td>
                <td class="job-title">
                  <h2>Senior Web Developer</h2>
                  <p>Amazon</p>
                </td>
                <td class="job-location">
                  <img
                    src="/CareerSphere/assets/icons/location.png"
                    alt="location"
                  />
                  <p>NYC, USA</p>
                </td>
                <td class="job-info">
                  <div>
                    <p class="job-salary">$120,000 - $150,000</p>
                  </div>
                  <div class="job-type-container">
                    <img
                      src="/CareerSphere/assets/icons/onsite.png"
                      alt="onsite"
                    />
                    <p class="job-type">Onsite</p>
                  </div>
                </td>
                <td class="job-apply">
                  <button class="apply-btn">Apply</button>
                </td>
              </div>
            </tr>

            <tr>
                <div class="job-listings-row">
                  <td class="company-img">
                    <img
                      src="/CareerSphere/assets/icons/company.png"
                      alt="company"
                    />
                  </td>
                  <td class="job-title">
                    <h2>Senior Web Developer</h2>
                    <p>Amazon</p>
                  </td>
                  <td class="job-location">
                    <img
                      src="/CareerSphere/assets/icons/location.png"
                      alt="location"
                    />
                    <p>NYC, USA</p>
                  </td>
                  <td class="job-info">
                    <div>
                      <p class="job-salary">$120,000 - $150,000</p>
                    </div>
                    <div class="job-type-container">
                      <img
                        src="/CareerSphere/assets/icons/onsite.png"
                        alt="onsite"
                      />
                      <p class="job-type">Onsite</p>
                    </div>
                  </td>
                  <td class="job-apply">
                    <button class="apply-btn">Apply</button>
                  </td>
                </div>
              </tr>

              <tr>
                <div class="job-listings-row">
                  <td class="company-img">
                    <img
                      src="/CareerSphere/assets/icons/company.png"
                      alt="company"
                    />
                  </td>
                  <td class="job-title">
                    <h2>Senior Web Developer</h2>
                    <p>Amazon</p>
                  </td>
                  <td class="job-location">
                    <img
                      src="/CareerSphere/assets/icons/location.png"
                      alt="location"
                    />
                    <p>NYC, USA</p>
                  </td>
                  <td class="job-info">
                    <div>
                      <p class="job-salary">$120,000 - $150,000</p>
                    </div>
                    <div class="job-type-container">
                      <img
                        src="/CareerSphere/assets/icons/onsite.png"
                        alt="onsite"
                      />
                      <p class="job-type">Onsite</p>
                    </div>
                  </td>
                  <td class="job-apply">
                    <button class="apply-btn">Apply</button>
                  </td>
                </div>
              </tr>

              <tr>
                <div class="job-listings-row">
                  <td class="company-img">
                    <img
                      src="/CareerSphere/assets/icons/company.png"
                      alt="company"
                    />
                  </td>
                  <td class="job-title">
                    <h2>Senior Web Developer</h2>
                    <p>Amazon</p>
                  </td>
                  <td class="job-location">
                    <img
                      src="/CareerSphere/assets/icons/location.png"
                      alt="location"
                    />
                    <p>NYC, USA</p>
                  </td>
                  <td class="job-info">
                    <div>
                      <p class="job-salary">$120,000 - $150,000</p>
                    </div>
                    <div class="job-type-container">
                      <img
                        src="/CareerSphere/assets/icons/onsite.png"
                        alt="onsite"
                      />
                      <p class="job-type">Onsite</p>
                    </div>
                  </td>
                  <td class="job-apply">
                    <button class="apply-btn">Apply</button>
                  </td>
                </div>
              </tr>
          </table>
          <div class="pagination" id="pagination">
            <!-- JS will insert pagination buttons here -->
            
          </div>
        </div>



      </main>
    </div>

    <!-- scripts -->
    <script src="../../assets/scripts/globals/mainLayout.js"></script>
    <script src="../../assets/scripts/jobs/jobs.js"></script>
    <script src="../../assets/scripts/globals/sidebar.js" defer></script>
    <script>
      
    </script>
  </body>
</html>
