<div>
  <div class="header">
    <h1 id="sidebar-logo">CareerSphere</h1>
    <button id="toggle-btn"><img src="/CareerSphere/assets/icons/menu.png" alt=""></button>
  </div>
  <ul>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/profile/profile.php">
        <img src="/CareerSphere/assets/icons/user.png" alt="profile" />
        <span class="hide-text">Profile</span>
        <div class="sidebar-tooltip">Profile</div></a
      >
    </li>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/resume/resume.html">
        <img src="/CareerSphere/assets/icons/resume.png" alt="resume" />
        <span class="hide-text">Resume Builder</span>
        <div class="sidebar-tooltip">Resume Builder</div></a
      >
    </li>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/jobs/jobs.html">
        <img src="/CareerSphere/assets/icons/job.png" alt="jobs" />
        <span class="hide-text">Jobs</span>
        <div class="sidebar-tooltip">Jobs</div></a
      >
    </li>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/application/application.php">
        <img
          src="/CareerSphere/assets/icons/application-status.png"
          alt="application"
        />
        <span class="hide-text">Application Status</span>
        <div class="sidebar-tooltip">Application Status</div></a
      >
    </li>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/job_alerts/job_alerts.php">
        <img src="/CareerSphere/assets/icons/job-alerts.png" alt="job-alerts" />
        <span class="hide-text">Job Alerts</span>
        <div class="sidebar-tooltip">Job Alerts</div></a
      >
    </li>
    <li class="sidebar-btn">
      <a href="/CareerSphere/views/interview/interview.php">
        <img src="/CareerSphere/assets/icons/interview.png" alt="interview" />
        <span class="hide-text">Interviews</span>
        <div class="sidebar-tooltip">Interviews</div></a
      >
    </li>
  </ul>
</div>
