<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Resources</title>
  <link rel="stylesheet" href="../../assets/styles/Career_resources/career_resources.css">
</head>
<body>
  <section class="container">
    <div class="card large">
      <div class="content">
        <p class="date">November 28, 2024</p>
        <h2>Getting Real About Work-Life Balance</h2>
        <img class="author" src="../../assets/img/work life.jpg" alt="Author">
      </div>
    </div>

    <div class="card">
      <div class="content">
        <p class="date">January 13, 2025</p>
        <h2>Decoding the Job Market: What You Need to Know</h2>
        <img class="author" src="../../assets/img/decode jon market.png" alt="Author">
      </div>
    </div>

    <div class="card">
      <div class="content">
        <p class="date">January 30, 2025</p>
        <h2>Your Guide to the Best Online Cer</h2>
        <img class="author" src="../../assets/img/guide.png" alt="Author">
      </div>
    </div>

    <div class="card">
      <div class="content">
        <p class="date">May 5, 2025</p>
        <h2>Your Inside Look at the World of Interviews</h2>
        <img class="author" src="../../assets/img/interviews.webp" alt="Author">
      </div>
    </div>

    <div class="card">
      <div class="content">
        <p class="date">January , 2025</p>
        <h2> </h2>
        
      </div>
    </div>
  </section>
</body>
</html>
