<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/global.css" />
    <link
      rel="stylesheet"
      href="../../assets/styles/user_authentication/user_authentication.css"
    />
    <title>CareerSphere | Forgotten Password</title>
  </head>
  <body>
    <section class="auth_section">
      <h1 class="auth_nav"><a href="/CareerSphere/views/jobs/jobs.html">CareerSphere</a></h1>
      <div class="auth_container">
        <div class="auth_header">
          <h2>Forgotten Password</h2>
          <p>Enter your email address to reset your password</p>
        </div>
        <form id="forgotten-form">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="auth_input"
          />
          <p id="email-error" class="error_msg"></p>
          <br />
          <button type="submit" class="auth_submit">Request Password Reset</button>
        </form>
        <p><a href="./login.html" class="auth_link">Go back to login </a></p>
      </div>
    </section>

    <script src="../../assets/scripts/user_authentication/forgotten_password.js"></script>
  </body>
</html>
